{{!

	FOOTER
	! Configuration of this file is required.

}}

	<footer class="main">
		{{> copyright}}
		<ul class="social">

			{{! REPLACE THE LINKS BELOW WITH YOUR SOCIAL PROFILE URLS }}
			{{! DELETE/COMMENT ANY PROFILES WHICH ARE NOT REQUIRED }}
			<li><a href="https://twitter.com/giosakti" target="_blank" class="twitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
			<li><a href="https://linkedin.com/in/giosakti" target="_blank" class="linkedin" title="LinkedIn"><i class="fa fa-linkedin"></i></a></li>
			<li><a href="https://github.com/giosakti" target="_blank" class="github" title="GitHub"><i class="fa fa-github"></i></a></li>
			<li><a href="{{@blog.url}}/rss" target="_blank" class="rss" title="RSS"><i class="fa fa-rss"></i></a></li>

			{{! UNCOMMENT ANY PROFILES FROM THE BELOW WHICH ARE REQUIRED }}
			{{! TUMBLR  <li><a href="http://tumblr.com/" target="_blank" class="tumblr" title="Tumblr"><i class="fa fa-tumblr"></i></a></li> }}
			{{! REDDIT <li><a href="http://reddit.com/" target="_blank" class="reddit" title="Reddit"><i class="fa fa-reddit"></i></a></li> }}
			{{! STACK <li><a href="http://stackoverflow.com/" target="_blank" class="stackoverflow" title="StackOverflow"><i class="fa fa-stack-overflow"></i></a></li> }}
			{{! TWITCH <li><a href="http://twitch.tv/" target="_blank" class="twitch" title="Twitch"><i class="fa fa-twitch"></i></a></li> }}
			{{! VK <li><a href="http://vk.com/" target="_blank" class="vk" title="VK"><i class="fa fa-vk"></i></a></li> }}
			{{! WEIBO <li><a href="http://weibo.com/" target="_blank" class="weibo" title="Weibo"><i class="fa fa-weibo"></i></a></li> }}
			{{! SOUNDCLOUD <li><a href="http://soundcloud.com/" target="_blank" class="soundcloud" title="Soundcloud"><i class="fa fa-soundcloud"></i></a></li> }}

		</ul>
	</footer>
