{{!

	WIDGET - TAG CLOUD
	! Configuration of this file is required.

}}

	<section class="widget">
		{{! WIDGET HEADER }}
		<h3 class="widget-title">Tags</h3>
		<hr>
		{{! WIDGET CONTENT }}
		<div class="tagcloud">
			<a href="/tag/angular/">Angular</a>
			<a href="/tag/conference/">Conference</a>
			<a href="/tag/programming/">Programming</a>
			<a href="/tag/rails/">Rails</a>
			<a href="/tag/ramblings/">Ramblings</a>
			<a href="/tag/ruby/">Ruby</a>
			<a href="/tag/software-engineering/">Software Engineering</a>
			<a href="/tag/speaking/">Speaking</a>
		</div>
	</section>
